*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #020f19;
}

#container{
    width: 90%;
    height: 88vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bg-image/workfeatured-data.jpg);
    background-size: cover;
    margin: 20px auto;
}

#calculator{
    width: 280px;
    height: 460px;
    background-color: rgb(0, 0, 0);
    margin:auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
}

#result{
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 30px;
    top: 5px;
    position: relative;
    border-bottom: 3px solid rgba(104, 104, 104, 0.2);
    border-top: 3px solid rgba(104, 104, 104, 0.2);
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 10px;
    font-size: medium;
}

#output{
    text-align: right;
    margin: 10px 20px;
    font-size: xx-large;
    padding-top: 10px;
}

#history-value{
    white-space: nowrap;
    height: 30px;
    width: 240px;
}

#history-value, #output-value{
    overflow-x: auto;
}

#history-value::-webkit-scrollbar{
    height: 2px;
}

#output-value::-webkit-scrollbar{
    height: 4px;
}

#output-value::-webkit-scrollbar-track, #history-value::-webkit-scrollbar-track{
    background: white;
    border-radius: 5px;
}

#output-value::-webkit-scrollbar-thumb, #history-value::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgba(0,0,0,0.5));
}

#keys{
    height: 360px;
}

.operator, .operatortop, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    user-select: none;
}

.number{
    background-color:  #333333;
    color: white;
}

.empty{
    background-color: black;
    cursor: default;
}

#clear, #backspace, #remander{
    background-color: #a6a6a6;
}

.operator{
    background-color: #fe9500;
    font-size: x-large;
}

.operator:active{
    background-color: black;
    color: #fe9500;
}

#clear:active, #backspace:active, #remander:active{
    background-color: black;
    color: #a6a6a6;
}

.number:active{
    background-color: rgb(206, 206, 206);
    color: #292929;
}